table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

td:first-child, th:first-child{
  width: 10%;
}

td:nth-child(2), th:nth-child(2) {
  width: 40%;
}

td:nth-child(4), th:nth-child(4) {
  width: 20%;
}

td:nth-child(3), th:nth-child(3) {
  width: 20%;
}

td:nth-child(5), th:nth-child(5) {
  width: 10%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.error {
  color: red;
  margin: -1rem 0 1rem 0;
  font-size: 12px;
}